spring:
  application:
    name: EUREKA-HA

---
server:
  port: 8761
spring:
  profiles: eureka-server1
eureka:
  instance:
    hostname: 172.16.246.128        #Eureka实例的主机名
    prefer-ip-address: true
    instance-id: 172.16.246.128:8761
  client:
    serviceUrl:
      defaultZone: http://172.16.246.128:8762/eureka/,http://172.16.246.128:8763/eureka/  #Eureka节点相互注册
      register-with-eureka: true
---
server:
  port: 8762
spring:
  profiles: eureka-server2
eureka:
  instance:
    hostname: 172.16.246.128      #Eureka实例的主机名
    prefer-ip-address: true
    instance-id: 172.16.246.128:8762
  client:
    serviceUrl:
      defaultZone: http://172.16.246.128:8761/eureka/,http://172.16.246.128:8763/eureka/
      register-with-eureka: true
---
server:
  port: 8763
spring:
  profiles: eureka-server3
eureka:
  instance:
    hostname: 172.16.246.128    #Eureka实例的主机名
    prefer-ip-address: true
    instance-id: 172.16.246.128:8763
  client:
    serviceUrl:
      defaultZone: http://172.16.246.128:8761/eureka/,http://172.16.246.128:8762/eureka/
      register-with-eureka: true